.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--dark-cyan);

  .card {
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
    padding: 16px 16px 40px 16px;
    width: 350px;

    img {
      max-width: 100%;
      border-radius: 10px;
      display: block;
    }
  }
}
